.details{
    margin-left: 40px;
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.overview{
    max-width: 45%;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.close-button{
    color: rgb(234, 25, 25);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: right;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.trailer-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.trailer-window button.close-button {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.trailer-window iframe {
    width: 60rem;
    height: 30rem;
}

.trailer-window.hide {
    opacity: 0;
    visibility: hidden;
}

.crew{
    width: 45%;
    max-height: 30rem;
    margin-top: 30px;
}

.list{
    columns: 100px 2;
    column-gap: 50px;
}

.crew-image{
    height: 200px;
    margin: 10px;
}

.crew-window {
    display: flex;
    position: fixed;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30rem;
    width: 48rem;
    padding-top: 5;
}

.crew-window-content{
    margin: 50px;
}

.crew-window::-webkit-scrollbar{
    display: none;
}

.crew-name{
    font-size: 12px;
}

.crew-window button.close-button {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.crew-window iframe {
    width: 60rem;
    height: 30rem;
}

.crew-window.hide {
    opacity: 0;
    visibility: hidden;
}


