.search-div {
    /* Magic here */
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

#browse-title{
    width: max-content;
}

.search-input{
    width: 20rem;
    height: 2rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 40px;
    background-color: #111;
    border-color: aliceblue;
    border-style: solid;
    color: aliceblue;
    outline: none;
}

.search-icon{
    color: white;
    margin-left: 15px;
    height: 30px;
}

.display{
    width: 96%;
    margin-left: 1%;
}