.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 350px;
    max-width: 90rem;
    margin-right: 10px;
    transition: 0.4s;
    
}

.poster:hover{
    max-height: 380px;
    transition: 0.4s;
}

.smallPoster{
    cursor: pointer;
    max-height: 270px;
    transition: 0.4s;
    margin-right: 10px;
}

.castPoster{
    cursor: pointer;
    max-height: 250px;
    transition: 0.4s;
    margin-right: 10px;
}

.smallPoster:hover{
    max-height: 300px;
    transition: 0.4s;
}

/* .container{
    position: relative;
} */

.movie-title{
    width: 70%;
}